* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 62.5%;
  color: white;
  background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
}

body {
  font-size: 1.8rem;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7rem;
  position: relative;
}

footer, .push {
  height: 7rem;
}

footer .footer-contents {
  padding: 0 5rem;
  position: relative;
}

.website-nav {
  position: relative;
  padding: 5rem;
}

.website-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-nav ul li {
  float: left;
  padding: 0.5rem 2rem 0.5rem 0;
  line-height: 21px;
}

.website-nav ul li a {
  color: white;
  text-decoration: none;
}

.home-link {
  font-weight: bold;
}

.message {
  position: relative;
  padding: 0 5rem;
  margin-bottom: 3rem;
  width: auto;
}

.message .twitter-link {
  float: left;
  margin-right: 20px;
}

.message .twitter-link img {
  width: 40px;
  height: 40px;
}

.message .text {
  float: left;
}

.message:after, .website-nav:after {
  content: " ";
  display: table;
  clear: both;
}

.graphics {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

.graphics .tower svg {
  width: calc(100vw);
  height: calc(90vh);
}

.graphics .cloud {
  top: 30rem;
  position: relative;
}

.page-content {
  padding: 1rem 5rem;
}

.page-content p {
  margin-bottom: 1rem;
}

.path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-height: 500px) and (min-width: 700px) {
  .message {
    padding: 0;
    width: 50%;
    left: calc(50vw - 5rem);
    top: calc(15vh - 5rem);
  }

  .message .text {
    padding-right: 0rem;
  }

  .graphics {
    display: block;
    margin-bottom: 6rem;
  }

  .message .twitter-link img {
    width: 70%;
    height: 70%;
  }

  .page-content {
    padding: 3rem 5rem;
  }
}

@media (min-height: 500px) and (min-width: 1240px) {
  .message {
    left: calc(50vw - 10rem);
    top: calc(25vh - 5rem);
  }

  h1 {
    font-size: 5rem;
  }

  .message .twitter-link img {
    width: 80%;
    height: 80%;
  }
}

@media (min-aspect-ratio: 11/5)  {
  .graphics {
    display: none;
  }
}

/*********************************/


body {
    padding-top: 50px;
    padding-bottom: 20px;
}



.vertical-menu {
    width: 100%;
}

    .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

        .vertical-menu a:hover {
            background-color: orange;
        }

        .vertical-menu a.active {
            background-color: #4CAF50;
            color: white;
        }


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



a {
    color: #369;
}

    a:hover {
        color: #fff;
        background: #369;
        text-decoration: none;
    }

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}

p {
    margin: .4em 0 .8em 0;
    padding: 0;
}

img {
    margin: 10px 0 5px;
}

#ads img {
    display: block;
    padding-top: 10px;
}

/* Header styles */
#header {
    clear: both;
    float: left;
    width: 100%;
}

#header {
    border-bottom: 1px solid #000;
}

    #header p,
    #header h1,
    #header h2 {
        padding: .4em 15px 0 15px;
        margin: 0;
    }

    #header ul {
        clear: left;
        float: left;
        width: 100%;
        list-style: none;
        margin: 10px 0 0 0;
        padding: 0;
    }

        #header ul li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

            #header ul li a {
                display: block;
                float: left;
                margin: 0 0 0 1px;
                padding: 3px 10px;
                text-align: center;
                background: #eee;
                color: #000;
                text-decoration: none;
                position: relative;
                left: 15px;
                line-height: 1.3em;
            }

                #header ul li a:hover {
                    background: #4CAF50;
                    color: #fff;
                }

                #header ul li a.active,
                #header ul li a.active:hover {
                    color: #fff;
                    background: #ccff33;
                    font-weight: bold;
                }

                #header ul li a span {
                    display: block;
                }
/* 'widths' sub menu */
#layoutdims {
    clear: both;
    background: #eee;
    border-top: 4px solid #000;
    margin: 0;
    padding: 6px 10px !important;
    text-align: right;
}
/* column container */
.colmask {
    position: relative; /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%; /* width of whole page */
    overflow: hidden; /* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float: left;
    width: 100%;
    position: relative;
}

.col1,
.col2,
.col3 {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
    background: #fff; /* right column background colour */
}

    .leftmenu .colleft {
        right: 89%; /* right column width */
        background: #f4f4f4; /* left column background colour */
    }

    .leftmenu .col1 {
        width: 84%; /* right column content width */
        left: 102%; /* 100% plus left column left padding */
    }

    .leftmenu .col2 {
        width: 10%; /* left column content width (column width minus left and right padding) */
        left: 6%; /* (right column left and right padding) plus (left column left padding) */
    }
/* Footer styles */
#footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
}

    #footer p {
        padding: 10px;
        margin: 0;
    }
#fname1 {
    background-color: #4CAF50;
    width: 100%;
    color: #FFF;
    border: none;
}

#fname3 {
    background-color: #4CAF50;
    width: 100%;
    color: #FFF;
    border: none;
}

.table-Dettaglio {
    background-color: #f1f1f1;
    padding: 12px 10px 12px 40px;
}


body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

* {
    box-sizing: border-box;
}

#device_id {
    width: 30%;
    font-size: 15px;
    padding: 12px 3px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myInput {
    background-image: url('../img/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 12px;
    padding: 12px 10px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myInput2 {
    background-image: url('../../img/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 12px;
    padding: 12px 10px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border - collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
    display: block;
    text-align: left;
}

thead {
    margin - left: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 20px;
    text-align: left;
    padding: 6px;
    background-color: #ccff33;
}

tbody {
    display: inline-block;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    background-color: #f1f1f1;
}

.btnSelect {
    background-color: #ccff33;
    border: none;
    height: 10px;
}

.btnSelect2 {
    background-color: orange;
    border: none;
    height: 10px;
}


/*__*/
#myTable {
    border-collapse: collapse;
    color: dimgray;
}

    #myTable tr {
        background-color: #eee;
        border-top: 1px solid #fff;
    }

        #myTable tr:hover {
            background-color: #ccc;
        }

    #myTable th {
        background-color: #fff;
    }

    #myTable th, #myTable td {
        padding: 3px 5px;
    }

        #myTable td:hover {
            cursor: pointer;
        }



/*--*/


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.controls {
    margin-bottom: 10px;
}

.collapse-group {
    padding: 10px;
    border: 1px solid darkgrey;
    margin-bottom: 10px;
}

.panel-title .trigger:before {
    content: '\e082';
    font-family: 'Glyphicons Halflings';
    vertical-align: text-bottom;
}

.panel-title .trigger.collapsed:before {
    content: '\e081';
}
/*--*/

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}


#container1 {
    display: none;
}

#container2 {
    display: none;
}

.close-icon {
    cursor: pointer;
}